/* Overwrite Standards */
*{
    font-family: 'Kongtext';
    color: var(--pokedex-dark);
}

body{
    background-color: var(--pokedex-bg);
    animation: textShadow 1.6s infinite;
}

header{
    h1{
        color: var(--pokedex-h1);
        text-shadow: -6px 0 var(--pokedex-shadow), 0 6px black, 6px 0 black, 0 -6px var(--pokedex-h1);
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
}

header,
main,
footer{
    display: flex;
    justify-content: center;
    margin: 2rem 0 0;
}

div.container{
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*** Pokemon Styles ***/

/* Search Area */
#searchArea form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

/* Pokemon Display-Cards */
#resultArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    section.pokemon{
        border-color: var(--pokedex-dark);
        position: relative;
        text-align: center;
        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
        div.pokemon-header{
            display: flex;
            justify-content: space-between;
        }
        div.pokemon-main{
            h3{
                font-size: 1.4rem;
                text-transform: capitalize;
            }
            div.poke-img{
                display: flex;
                justify-content: center;
                img{
                    width: 15rem;
                    object-fit: cover;
                }
            }
        }
        div.pokemon-footer{
            div.poke-stats{
                display: flex;
                flex-direction: column;
            }
            div.poke-type{
                margin-top: 1rem;
                span.container{
                    margin-top: 0.5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 1rem;
                        span{
                            font-size: .8rem;
                            padding: .3rem .6rem;
                    }
                }
            }
        }
        &:after{
            position: absolute;
            box-shadow: inset -6px -6px var(--pokedex-h1);
            position: absolute;
            top: -4px;
            right: -4px;
            bottom: -4px;
            left: -4px;
            content: "";
        }
        &:hover{
            color: #fff;
            text-decoration: none;
            background-color: var(--pokedex-h1);
            border: 4px solid var(--pokedex-shadow);
            &:after{
                box-shadow: inset -6px -6px var(--black);
            }
        }
    }
}

/* Dialog Styles */
dialog[open]{
    position: fixed;
    right: 0;
    left: 0;
    display: block;
    width: 500px;
    height: fit-content;
    padding: 1em;
    margin: auto;
    border: solid;
    div.pokemon-header{
        display: flex;
        justify-content: space-between;
        h3{
            font-size: 1.4rem;
            text-transform: capitalize;
        }
    }
    div.pokemon-main{
        margin-top: 1rem;
        div.poke-img{
            display: flex;
            justify-content: center;
            img{
                width: 15rem;
            }
        }
    }
    div.pokemon-footer{
        margin-top: 1rem;
        .dialog-menu{
            display: flex;
            justify-content: space-between;
        }
    }
    div.btn-tabs{
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    div.tab-content{
        margin-top: 1rem;
        div.tab-pane{
            display:none;
            div.nes-container{
                width: 100%;
            }
            &.is-active{
                display: flex;
                flex-direction: column;
            }
        }
        div.poke-type{
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            span.container{
                margin-top: 0.5rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 1rem;
                    span{
                        font-size: .8rem;
                        padding: .3rem .6rem;
                }
            }
        }
    }
    &::backdrop{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

/* Customized Buttons */
/* Load-More Btn */
#interactionArea{
    margin-top: 2rem;
}

/* Scroll Btn */
#scroll-btn{
    bottom: 60px;
    right: 2rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .6);
    transition: all 0.3s ease;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;

    span{
        display: block;
        transform: rotateZ(90deg);
    }
}

/* Loader */
/* Animation of Pokeball from https://nostalgic-css.github.io/ */
.loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    overflow: hidden;
    z-index: 100;
    .animation {
        position: absolute;
        z-index: 2;
        top: calc(50% - 42px);
        left: calc(50% - 42px);
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        position: relative;
        display: inline-block;
        width: 84px;
        height: 84px;
        &:before{
            position: absolute;
            top: -6px;
            left: -6px;
            content: "";
            background: 0 0;
            width: 6px;
            height: 6px;
            color: #060606;
            box-shadow: 36px 6px, 42px 6px, 48px 6px, 54px 6px, 24px 12px, 30px 12px, 36px 12px #ff001d, 42px 12px #ff001d, 48px 12px #ff001d, 54px 12px #ff001d, 60px 12px, 66px 12px, 18px 18px, 24px 18px #fff, 30px 18px #fff, 36px 18px #ff001d, 42px 18px #ff001d, 48px 18px #ff001d, 54px 18px #ff001d, 60px 18px #ff001d, 66px 18px #ff001d, 72px 18px, 12px 24px, 18px 24px #fff, 24px 24px #fff, 30px 24px #ff001d, 36px 24px #ff001d, 42px 24px #ff001d, 48px 24px #ff001d, 54px 24px #ff001d, 60px 24px #ff001d, 66px 24px #ff001d, 72px 24px, 78px 24px, 12px 30px, 18px 30px #fff, 24px 30px #ff001d, 30px 30px #ff001d, 36px 30px #ff001d, 42px 30px #ff001d, 48px 30px #ff001d, 54px 30px #ff001d, 60px 30px #ff001d, 66px 30px #ff001d, 72px 30px #ff001d, 78px 30px, 6px 36px, 12px 36px #fff, 18px 36px #ff001d, 24px 36px #ff001d, 30px 36px #ff001d, 36px 36px #ff001d, 42px 36px #ff001d, 48px 36px #ff001d, 54px 36px #ff001d, 60px 36px #ff001d, 66px 36px #ff001d, 72px 36px #ff001d, 78px 36px #ff001d, 84px 36px, 6px 42px, 12px 42px, 18px 42px, 24px 42px #ff001d, 30px 42px #ff001d, 36px 42px #ff001d, 42px 42px #ff001d, 48px 42px, 54px 42px, 60px 42px, 66px 42px #ff001d, 72px 42px #ff001d, 78px 42px #ff001d, 84px 42px, 6px 48px, 12px 48px, 18px 48px, 24px 48px, 30px 48px #ff001d, 36px 48px #ff001d, 42px 48px, 48px 48px #fff, 54px 48px #fff, 60px 48px #fff, 66px 48px, 72px 48px #ff001d, 78px 48px #ff001d, 84px 48px, 6px 54px, 12px 54px #9fa1a1, 18px 54px #fff, 24px 54px, 30px 54px, 36px 54px, 42px 54px, 48px 54px #fff, 54px 54px #fff, 60px 54px #fff, 66px 54px, 72px 54px, 78px 54px, 84px 54px, 12px 60px, 18px 60px #fff, 24px 60px #fff, 30px 60px #fff, 36px 60px, 42px 60px, 48px 60px #fff, 54px 60px #fff, 60px 60px #fff, 66px 60px, 72px 60px #fff, 78px 60px, 12px 66px, 18px 66px #fff, 24px 66px #fff, 30px 66px #fff, 36px 66px #fff, 42px 66px #fff, 48px 66px, 54px 66px, 60px 66px, 66px 66px #fff, 72px 66px #fff, 78px 66px, 18px 72px, 24px 72px #9fa1a1, 30px 72px #9fa1a1, 36px 72px #fff, 42px 72px #fff, 48px 72px #fff, 54px 72px #fff, 60px 72px #fff, 66px 72px #fff, 72px 72px, 24px 78px, 30px 78px, 36px 78px #9fa1a1, 42px 78px #9fa1a1, 48px 78px #9fa1a1, 54px 78px #9fa1a1, 60px 78px, 66px 78px, 36px 84px, 42px 84px, 48px 84px, 54px 84px;
        }
    }
}

/* No Result */
/* Animation of Ash from https://nostalgic-css.github.io/ */

div.emptyResult{
    display: flex;
    gap: 1rem;
    .ash{
        position: relative;
        display: inline-block;
        width: 84px;
        height: 90px;
        &:before{
            position: absolute;
            top: 2rem;
            content: "";
            background: 0 0;
            width: 6px;
            height: 6px;
            color: #181818;
            box-shadow: 30px 6px, 36px 6px, 42px 6px, 48px 6px, 54px 6px, 60px 6px, 24px 12px, 30px 12px #ff614e, 36px 12px #ff614e, 42px 12px #ff614e, 48px 12px #f8f8ff, 54px 12px #f8f8ff, 60px 12px #007f7f, 66px 12px, 18px 18px, 24px 18px #ff614e, 30px 18px #ff614e, 36px 18px #ff614e, 42px 18px #ff614e, 48px 18px #f8f8ff, 54px 18px #f8f8ff, 60px 18px #f8f8ff, 66px 18px #f8f8ff, 72px 18px, 18px 24px, 24px 24px #ff614e, 30px 24px #ff614e, 36px 24px #ff614e, 42px 24px #ff614e, 48px 24px #f8f8ff, 54px 24px #f8f8ff, 60px 24px #007f7f, 66px 24px #007f7f, 72px 24px, 78px 24px, 12px 30px, 18px 30px, 24px 30px, 30px 30px #ff614e, 36px 30px #ff614e, 42px 30px #ff614e, 48px 30px #ff614e, 54px 30px #ff614e, 60px 30px #ff614e, 66px 30px #ff614e, 72px 30px #ff614e, 78px 30px #ff614e, 84px 30px, 12px 36px, 18px 36px, 24px 36px, 30px 36px, 36px 36px, 42px 36px, 48px 36px, 54px 36px #ff614e, 60px 36px #ff614e, 66px 36px #ff614e, 72px 36px, 78px 36px, 6px 42px, 12px 42px, 18px 42px, 24px 42px, 30px 42px, 36px 42px, 42px 42px, 48px 42px #ffe3c5, 54px 42px #ffe3c5, 60px 42px, 66px 42px #ffe3c5, 72px 42px, 12px 48px, 18px 48px, 24px 48px #ffe3c5, 30px 48px #ffe3c5, 36px 48px #ffe3c5, 42px 48px, 48px 48px #ffe3c5, 54px 48px #ffe3c5, 60px 48px, 66px 48px #ffe3c5, 72px 48px, 18px 54px, 24px 54px #ffe3c5, 30px 54px #ffe3c5, 36px 54px #ffe3c5, 42px 54px #ffe3c5, 48px 54px #ffe3c5, 54px 54px #ffe3c5, 60px 54px #ffe3c5, 66px 54px #ffe3c5, 72px 54px, 12px 60px, 18px 60px #4169e1, 24px 60px, 30px 60px, 36px 60px #ffe3c5, 42px 60px #ffe3c5, 48px 60px #ffe3c5, 54px 60px #ffe3c5, 60px 60px #ffe3c5, 66px 60px, 12px 66px, 18px 66px #4169e1, 24px 66px, 30px 66px, 36px 66px, 42px 66px, 48px 66px, 54px 66px, 60px 66px, 12px 72px, 18px 72px, 24px 72px #ffe3c5, 30px 72px #ffe3c5, 36px 72px, 42px 72px #4169e1, 48px 72px #4169e1, 54px 72px, 60px 72px, 66px 72px, 6px 78px, 12px 78px #007f7f, 18px 78px, 24px 78px #ffe3c5, 30px 78px #ffe3c5, 36px 78px, 42px 78px #4169e1, 48px 78px, 54px 78px, 60px 78px #007f7f, 66px 78px #007f7f, 72px 78px, 6px 84px, 12px 84px #007f7f, 18px 84px #007f7f, 24px 84px, 30px 84px, 36px 84px, 42px 84px, 48px 84px, 54px 84px #007f7f, 60px 84px #007f7f, 66px 84px, 12px 90px, 18px 90px, 54px 90px, 60px 90px;
            transform: rotate(0);
        }
    }

}


/* Background Effects */
/* flicker Animation */
.refresh {
    float: left;
    width: 200%;
    height: 100px;
    z-index: 8;
    background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(255,255,255,.7) 10%,rgba(0,0,0,.3) 100%);
    opacity: .1;
    position: fixed;
    bottom: 0;
    animation: refresh 8s linear infinite;
    animation-name: refresh;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
/* Line-Effect */
.background-effect{
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 999;
    background-image: repeating-linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0px,
        rgba(0,0,0,0) 2px,
        rgba(0,0,0,0.12) 2px,
        rgba(0,0,0,0.12) 4px
    );
    opacity: 0.8;
    mix-blend-mode: multiply;
}

/* Keyframe Effects */
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes refresh{
    0% {
        bottom:100%;
    }
    70% {
        bottom:100%;
    }
    100% {
        bottom:0;
    }
}

/*** MEDIA QUERIES ***/

/* Medium devices (mobile, down 768px) */
@media only screen and (max-width: 47.938rem) {
    header {
        h1 {
            font-size: 3rem;
            color: var(--pokedex-h1);
            text-shadow: -3px 0 var(--pokedex-shadow), 0 3px black, 3px 0 black, 0 -3px var(--pokedex-h1);
        }
    }
    main{
        #searchArea form{
            flex-direction: column;
            gap: 1rem;
        }
    }
}

/* Medium devices (mobile, down 480px) */
@media only screen and (max-width: 30rem) {
    #searchArea form{
        margin-bottom: 3rem;
    }
    .container{
        padding: 1rem;
    }
    header {
        h1 {
            font-size: 2.5rem;
            color: var(--pokedex-h1);
            text-shadow: -2px 0 var(--pokedex-shadow), 0 2px black, 2px 0 black, 0 -2px var(--pokedex-h1);
        }
    }
    dialog[open]{
        width: 100%;
        div.pokemon-main {
            div.poke-img{
                height: 12.5rem;
                img{
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        #inner-dialog{
            position:relative;
        }
        div.pokemon-footer{
            position: absolute;
            top: 8rem;
            width: 100%;
        }
    }
    section.pokemon{
        max-width: 300px;
    }
    .emptyResult{
        align-items: self-end;
        margin-bottom: 2rem;
    }
}