*{
    font-family: 'Kongtext';
    color: var(--pokedex-dark);
}

body{
    background-color: var(--pokedex-bg);
}

header{
    h1{
        color: var(--pokedex-h1);
        text-shadow: -6px 0 var(--pokedex-shadow), 0 6px black, 6px 0 black, 0 -6px var(--pokedex-h1);
    }
}

header,
main,
footer{
    display: flex;
    justify-content: center;
    margin: 2rem 0 0;
}

div.container{
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Pokemon Styles */
#searchArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

#resultArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    section.pokemon{
        border-color: var(--pokedex-dark);
        position: relative;
        text-align: center;
        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
        div.pokemon-header{
            display: flex;
            justify-content: space-between;
        }
        div.pokemon-main{
            h3{
                font-size: 1.4rem;
                text-transform: capitalize;
            }
            div.poke-img{
                display: flex;
                justify-content: center;
                img{
                    width: 15rem;
                }
            }
        }
        div.pokemon-footer{
            div.poke-stats{
                display: flex;
                flex-direction: column;
            }
            div.poke-type{
                margin-top: 1rem;
                span.container{
                    margin-top: 0.5rem;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                        span{
                            font-size: .8rem;
                            padding: .3rem .6rem;
                    }
                }
            }
        }
        &:after{
            position: absolute;
            box-shadow: inset -6px -6px var(--pokedex-h1);
            position: absolute;
            top: -4px;
            right: -4px;
            bottom: -4px;
            left: -4px;
            content: "";
        }
        &:hover{
            color: #fff;
            text-decoration: none;
            background-color: var(--pokedex-h1);
            border: 4px solid var(--pokedex-shadow);
            &:after{
                box-shadow: inset -6px -6px var(--black);
            }
        }
    }
}

dialog[open]{
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    width: -moz-fit-content;
    max-width: 500px;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    padding: 1em;
    margin: auto;
    border: solid;
    div.pokemon-header{
        display: flex;
        justify-content: space-between;
        h3{
            font-size: 1.4rem;
            text-transform: capitalize;
        }
    }
    div.pokemon-main{
        margin-top: 1rem;
        div.poke-img{
            display: flex;
            justify-content: center;
            img{
                width: 15rem;
            }
        }
    }
    div.pokemon-footer{
        margin-top: 1rem;
        .dialog-menu{
            display: flex;
            justify-content: space-between;
        }
    }
    div.btn-tabs{
        display: flex;
        gap: 0.5rem;
    }
    div.tab-content{
        margin-top: 1rem;
        div.tab-pane{
            display:none;
            &.is-active{
                display: flex;
            }
        }
    }
    &::backdrop{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

#interactionArea{
    margin-top: 2rem;
}

.scroll-btn{
    position: fixed;
    bottom: 60px;
    right: 2rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .6);
    transition: all 0.3s ease;
    span{
        display: block;
        transform: rotateZ(90deg);
    }
}