/* Color Variables */
:root{
    --black: #000000;
    --white: #ffffff;

    --pokedex-dark: #212529;
    --pokedex-bg: #C3BB99;
    --pokedex-shadow: #7D755D;
    --pokedex-h1: #968E71;
    /* Pokemon - Color-Types */
    --pokemon-normal: #ACAA7A;
    --pokemon-flying: #9E8FC5;
    --pokemon-water: #6E8BC6;
    --pokemon-ice: #98D6D5;
    --pokemon-fire: #F17F2D;
    --pokemon-dragon: #6357A6;
    --pokemon-electric: #F7D233;
    --pokemon-steel: #B8B8D2;
    --pokemon-rock: #B9A338;
    --pokemon-ground: #E0C166;
    --pokemon-grass: #79C251;
    --pokemon-fairy: #F7CBDF;
    --pokemon-psychic: #F05889;
    --pokemon-fighting: #C4312B;
    --pokemon-bug: #AABA39;
    --pokemon-poison: #9E4399;
    --pokemon-dark: #725A4A;
    --pokemon-ghost: #71599A;

    /* radius */
    --b_rad: 1rem;
}

.normal{background-color: var(--pokemon-normal)}
.flying{background-color: var(--pokemon-flying)}
.water{background-color: var(--pokemon-water)}
.ice{background-color: var(--pokemon-ice)}
.fire{background-color: var(--pokemon-fire)}
.dragon{background-color: var(--pokemon-dragon)}
.electric{background-color: var(--pokemon-electric)}
.rock{background-color: var(--pokemon-rock)}
.ground{background-color: var(--pokemon-ground)}
.grass{background-color: var(--pokemon-grass)}
.fairy{background-color: var(--pokemon-fairy)}
.psychic{background-color: var(--pokemon-psychic)}
.fighting{background-color: var(--pokemon-fighting)}
.bug{background-color: var(--pokemon-bug)}
.poison{background-color: var(--pokemon-poison)}
.dark{background-color: var(--pokemon-dark)}
.ghost{background-color: var(--pokemon-ghost)}


/* General Styling */
*{
    font-size:16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-optical-sizing: auto;
    line-height: 1.4;
}

html{
    scroll-behavior: smooth;
    font-family: Inter Regular, sans-serif;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    font-size: 5rem;
    margin: 4rem 0 2rem;
}

h2{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

h3{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--black);
}

.d-none{
    display: none;
}

.overflow-hidden{
    overflow:hidden;
}

header,
section,
footer {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}